.explore-menu{
    display:flex;
    flex-direction:column;
    gap:20px;
} 
.explore-menu h1{
    color:#262626;
    font-weight:500;
}
.explore-menu-text{
    max-width:60%;
    columns:#808080;
}
.explore-menu-list{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:30px;
    text-align:center;
    margin:20px 0px;
    overflow-x:scroll ;

}
.explore-menu-list::-webkit-scrollbar{
    display:none;
}
.explore-menu-list img{
    width: 7.5vw;
    min-width:80px;
    cursor:pointer;
    border-radius:50%;
    transition:0.2s;
}
.explore-menu-list p{
    margin-top:10px;
    color:#747474;
    font-size:max(1.4vw,16px);
    cursor:pointer;


}

.explore-menu-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    border-radius: 50%; /* Ensures the item itself is circular */
}

.explore-menu-list-item:hover {
    background-color: rgba(200, 200, 200, 0.5); /* Light gray background on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for hover effect */
}

.explore-menu-list-item.active {
    background-color: rgba(200, 200, 200, 0.8); /* Slightly darker gray for active state */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Slightly stronger shadow for active state */
}
.explore-menu hr{
    margin:10px 0;
    height:2px;
    background-color:#e2e2e2;
    border:none;
    

}